@import url('/assets/css/reset.css');
@import url('/assets/css/global.css');
@import url('/assets/css/components/_navigator.css');
@import url('/assets/css/components/_pills.css');
@import url('/assets/css/components/_link-button.css');
@import url('/assets/css/components/_gallery.css');

.s-wrapper {
    display: flex;
    height: 100vh; /*o vh permite conteudo flexivel, sem barra de rolagem, pq se baseia no elemento pai*/
    flex-flow: row nowrap;
}

/*pra colocar o fundo sendo um video*/
/*.s-wrapper video {
    position: fixed;
    width: 100%;
}*/

.s-wrapper .s-left-column { /*significa que a classe da direita ta dentro da classe da esquerda*/
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
}

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%;
    padding-left: 130px;
    /*position: relative;*/ /*pra colocar o video tem q ativar esse*/
}

.s-wrapper .s-main-content__top {
    width: 95%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*do começo pro final*/
}

.s-wrapper .s-main-content__bottom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /*do final pro começo*/
}

.s-wrapper .s-main-content .s-logo img {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
    width: 745px;
}

#logo-tom {
    width: 590px;
}
#logo-tom-3 {
    width: 520px;
}
#sinopse-tom {
    font-size: .827rem;
}
.gallery-tom ul li a img {
    width: 240px;
}

.s-wrapper .s-main-content__top .s-description {
    background-color: rgba(0, 0, 0, .7); /*o ultimo é opacidade, esse ai ta 70% opaco*/
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p{
    color: white;
    line-height: 170%; /*altura da linha pra n ficar grudada*/
    /*font-size: .89rem;*/
}

.s-wrapper .s-main-content__top .s-description .pills {
    margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
    padding: 20px;
    padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul {
    display: flex;
    flex-direction: row;
}

.s-spiderman-01-01 {
    background-image: url(/assets/images/spiderman-tobey/movie-01/background.png);
    background-size: cover;
}

.s-spiderman-01-02 {
    background-image: url(/assets/images/spiderman-tobey/movie-02/background.png);
    background-size: cover;
}

.s-spiderman-01-03 {
    background-image: url(/assets/images/spiderman-tobey/movie-03/background.png);
    background-size: cover;
}

.s-spiderman-02-01 {
    background-image: url(/assets/images/spiderman-andrew/movie-01/background.png);
    background-size: cover;
}

.s-spiderman-02-02 {
    background-image: url(/assets/images/spiderman-andrew/movie-02/background.png);
    background-size: cover;
}

.s-spiderman-03-01 {
    background-image: url(/assets/images/spiderman-tom/movie-01/background.png);
    background-size: cover;
}

.s-spiderman-03-02 {
    background-image: url(/assets/images/spiderman-tom/movie-02/background.png);
    background-size: cover;
}

.s-spiderman-03-03 {
    background-image: url(/assets/images/spiderman-tom/movie-03/background.png);
    background-size: cover;
}
